{%extends "base.html"%}

{% block content %}
<div class="jumbotron" style="background-color:white;border:1px solid black">
  <h2 class="text-center">Agent assign data</h2><hr>
  <a href="/admin/agent" class="btn btn-dark">Go Back</a>
  <hr>
  <form class="" action="/admin/defaccess" method="post">
    <input type="hidden" name="id" value="">
    <h4 style="font-family: 'Chelsea Market';">Choose the agents to distribute data to</h4>
    {% for x in agents %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{x[0]}}" id="checkbox{{x[0]}}" onchange="addid({{x[0]}})">
        <label class="form-check-label" for="checkbox{{x[0]}}">{{ x[1] }}</label>
      </div>
    {% endfor %}
    <hr>
    <h4 style="font-family: 'Chelsea Market';">Choose the type of data distribution</h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="allocation" id="exampleRadios1" value="explicit" onchange="algoshow()">
        <label class="form-check-label" for="exampleRadios1" style="font-family: 'Chelsea Market';">
          Explicit
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="allocation" id="exampleRadios2" value="sample" onchange="algoshow()">
        <label class="form-check-label" for="exampleRadios2" style="font-family: 'Chelsea Market';">
          Sample
        </label>
      </div>
      <br>
    <div class="d-none" id="algos">
      <h5 style="font-family: 'Chelsea Market';">Choose algorithm</h5>
        <div id="edr" class="d-none">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="algorithm" id="exampleRadios3" value="e-random">
            <label class="form-check-label" for="exampleRadios3" style="font-family: 'Chelsea Market';">
              E-Random
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="algorithm" id="exampleRadios4" value="e-optimal">
            <label class="form-check-label" for="exampleRadios4" style="font-family: 'Chelsea Market';">
              E-optimal
            </label>
          </div>
        </div>
        <div id="sdr" class="d-none">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="algorithm" id="exampleRadios5" value="s-random">
            <label class="form-check-label" for="exampleRadios5" style="font-family: 'Chelsea Market';">
              S-Random
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="algorithm" id="exampleRadios6" value="s-overlap">
            <label class="form-check-label" for="exampleRadios6" style="font-family: 'Chelsea Market';">
              S-Overlap
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="algorithm" id="exampleRadios7" value="s-max">
            <label class="form-check-label" for="exampleRadios7" style="font-family: 'Chelsea Market';">
              S-Max
            </label>
          </div>
        </div>
    </div>
    <hr>
    <div class="d-none" id="data">
      <h4>Enter Data</h4>
        <div class="d-none" id="exp">
          <div class="form-group">
            <label for="">Enter total number of fake objects [B]</label>
            <input type="text" name="tfo" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Enter total fake objects for each agent [b<sub>i</sub>] (separated by comma)</label>
            <input type="text" name="tfea" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Condition per user (seperated by comma)</label>
            <input type="text" name="condition" class="form-control">
          </div>
        </div>
        <div class="d-none" id="sam">
          <div class="form-group">
            <label for="">Limit of total records</label>
            <input type="text" name="limit" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Enter total objects for each agent [m<sub>i</sub>] (separated by comma)</label>
            <input type="text" name="toea" class="form-control">
          </div>
        </div>
    </div>
    <input type="submit" class="btn btn-success" value="Submit">
  </form>

</div>

<script>
  function algoshow(){
    document.getElementById('algos').classList.remove("d-none");
    document.getElementById('data').classList.remove("d-none");

    document.getElementById('edr').classList.add("d-none");
    document.getElementById('sdr').classList.add("d-none");
    document.getElementById('exp').classList.add("d-none");
    document.getElementById('sam').classList.add("d-none");

    if(document.getElementsByName('allocation')[0].checked){
      document.getElementById('edr').classList.remove("d-none");
      document.getElementById('exp').classList.remove("d-none");
    }else{
      document.getElementById('sdr').classList.remove("d-none");
      document.getElementById('sam').classList.remove("d-none");
    }
  }
  function addid(id) {
    document.getElementsByName('id')[0].value+= id+",";
  }
</script>


{% endblock %}
