{%extends "base.html"%}

{% block content %}
<div class="jumbotron">
  <a href="/admin/data" class="btn btn-dark">Go back</a><br><br>
<h2>Add Data</h2><hr>
  <div class="container">
    <form class="" action="/admin/savedata" method="post" autocomplete="off">
      <div class="form-group">
        <label>Values:</label>
        <textarea name="values" class="form-control" rows="8"></textarea>
      </div>
      <input type="submit" class="btn btn-success" name="" value="Submit">
    </form>
  </div>
</div>
{% endblock %}
